@font-face {
    font-family: "arimo";
    src: url("../fonts/arimo/static/Arimo-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "lora";
    src: url("../fonts/lora/static/Lora-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
}