@use 'fonts';



// Abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Base
@use 'base/reset';
@use 'base/typography';
@use 'base/base';

// Layout
@use 'layout/navigation';
@use 'layout/grid';

// Components
@use 'components/buttons';
@use 'components/project-card';

// Pages
@use 'pages/home';
@use 'pages/projects';
@use 'pages/contact';

